<!DOCTYPE html>
<html>
<head>
    <title>Carrito</title>
</head>
<body>
    <h1>Carrito</h1>
    <ul>
        {{#each products}}
        <li>{{this.name}} - {{this.quantity}}</li>
        {{/each}}
    </ul>
</body>
</html>
