<form action="/login" method="post">
  Name:
  <input type="text" name="name" id="name" />
  Email:
  <input type="email" name="email" id="email" />

  <input type="submit" value="LOGIN" />

  <h1>Login with GitHub</h1>
<a href="/users/register-github">Login with GitHub</a>
</form>